[submodule "tf-revizor-fixtures/local_wait_submodule/modules/tf-revizor-fixtures"]
	path = tf-revizor-fixtures/local_wait_submodule/modules/tf-revizor-fixtures
	url = https://github.com/Scalr/tf-revizor-fixtures
